<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Notes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-searchbar [(ngModel)]="filter"></ion-searchbar>
    <ion-list class="row" *ngIf="notes?.length > 0;else empty_message">
      <ion-item *ngFor="let note of notes | filter:filter">
        <ion-label class="note-title">{{note.title}}</ion-label>
        <ion-icon size="large" name="create-outline" [routerLink]="['/tabs/edition', note.id]"></ion-icon>
        <div class="verticalLine"></div>
        <ion-icon size="large" name="trash-outline" (click)="onDeleteClicked(note.id)"></ion-icon>
      </ion-item>
    </ion-list>
    <ng-template #empty_message>
      <h3 class="empty-message">There are not notes. Please go to "Add Note" tab</h3>
    </ng-template>
  </ion-content>
  
</ion-content>
